@tailwind base;
@tailwind components;
@tailwind utilities;

.move-x1{
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {left:0px; top:0px;}
  50%  {left:15px; top:0px;}
  100%  {left:0px; top:0px;}
}

.move-x2{
  position: relative;
  animation-name: example2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes example2 {
  0%   {left:0px; top:0px;}
  50%  {left:15px; top:0px;}
  100%  {left:0px; top:0px;}
}


.move-y1{
  position: relative;
  animation-name: exampley;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes exampley {
  0%   {left:0px; top:0px;}
  50%  {left:0px; top:15px;}
  100%  {left:0px; top:0px;}
}

.move-xy{
  position: relative;
  animation-name: exampleyxy;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes exampleyxy {
  0%   {left:0px; top:0px;}
  50%  {left:15px; top:15px;}
  100%  {left:0px; top:0px;}
}


@keyframes eave-ani {
  0%   {left:-100px; bottom:-15px;}
  50%  {left:0px; bottom:-15px;}
  100%  {left:0px; bottom:-15px;}
}

body{
  overflow-x: hidden;
}



#triangle-l {
  width: 100px;
  height: 200px;
  background: #0036341c linear-gradient(rgb(64, 36, 119), rgba(6, 11, 61, 0));
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  -ms-transform: rotate(60deg); /* IE 9 */
  transform: rotate(60deg);
}

#triangle-l2 {
  width: 100px;
  height: 200px;
  background: #40247700 linear-gradient(rgb(64, 36, 119), rgba(6, 11, 61, 0));
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  -ms-transform: rotate(80deg); /* IE 9 */
  transform: rotate(40deg);
}

#triangle-r {
  width: 100px;
  height: 200px;
  background: #0036341c linear-gradient(#870B4F, rgba(6, 11, 61, 0));
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  -ms-transform: rotate(-60deg); /* IE 9 */
  transform: rotate(-60deg);
}


#triangle-b {
  width: 100px;
  height: 200px;
  background: #0036341c linear-gradient(#870b4fbd, rgba(6, 11, 61, 0));
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  -ms-transform: rotate(170deg); /* IE 9 */
  transform: rotate(-170deg);
}
#triangle-b2 {
  width: 100px;
  height: 200px;
  background: #0036341c linear-gradient(#870b4fbd, rgba(6, 11, 61, 0));
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  -ms-transform: rotate(-140deg); /* IE 9 */
  transform: rotate(-140deg);
}


.footer-red{
  border-top-right-radius: 50% 50px;
  border-top-left-radius: 50% 50px;
}


/* water wave */
/* .wave-cont{
  position: relative;
  width: 100%;
  overflow: hidden;
} */

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./../src/Components/imgs/wave.png);
  background-size: 1000px 100px;
}

.wave1{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-duration: 0s;
  bottom: 0;
}
@keyframes animate{
  0% { background-position-x: 0;}
  100% { background-position-x: 1000px;}
}

.wave2{
  animation: animate2 15s linear infinite;
  z-index: 900;
  opacity: 0.5;
  animation-duration: -5s;
  bottom: 0px;
}
@keyframes animate2{
  0% { background-position-x: 0;}
  100% { background-position-x: 1000px;}
}

.wave3{
  animation: animate3 10s linear infinite;
  z-index: 700;
  opacity: 0.8;
  animation-duration: -7s;
  bottom: 0px;
}
@keyframes animate3{
  0% { background-position-x: 0;}
  100% { background-position-x: 1000px;}
}

.wave4{
  animation: animate4 10s linear infinite;
  z-index: 800;
  opacity: 0.8;
  animation-duration: -9s;
  bottom: 0px;
}
@keyframes animate4{
  0% { background-position-x: 0;}
  100% { background-position-x: 1000px;}
}
