@tailwind base;
@tailwind components;
@tailwind utilities;

.move-x1{
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {left:0px; top:0px;}
  50%  {left:15px; top:0px;}
  100%  {left:0px; top:0px;}
}

.move-x2{
  position: relative;
  animation-name: example2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes example2 {
  0%   {left:0px; top:0px;}
  50%  {left:15px; top:0px;}
  100%  {left:0px; top:0px;}
}


.move-y1{
  position: relative;
  animation-name: exampley;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes exampley {
  0%   {left:0px; top:0px;}
  50%  {left:0px; top:15px;}
  100%  {left:0px; top:0px;}
}

.move-xy{
  position: relative;
  animation-name: exampleyxy;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes exampleyxy {
  0%   {left:0px; top:0px;}
  50%  {left:15px; top:15px;}
  100%  {left:0px; top:0px;}
}

.wave-x{
  position: absolute;
  width: 100%;
  left: 0px;

  /* animation-name: eave-ani;
  animation-duration: 4s;
  animation-iteration-count: infinite; */
}

@keyframes eave-ani {
  0%   {left:-100px; bottom:-15px;}
  50%  {left:0px; bottom:-15px;}
  100%  {left:0px; bottom:-15px;}
}

body{
  overflow-x: hidden;
}



#triangle-l {
  width: 100px;
  height: 200px;
  background: #0036341c linear-gradient(rgb(64, 36, 119), rgba(6, 11, 61, 0));
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  -ms-transform: rotate(60deg); /* IE 9 */
  transform: rotate(60deg);
}

#triangle-r {
  width: 100px;
  height: 200px;
  background: #0036341c linear-gradient(#870B4F, rgba(6, 11, 61, 0));
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  -ms-transform: rotate(-60deg); /* IE 9 */
  transform: rotate(-60deg);
}
